/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Review Assignment

   Programming Table Style Sheet
   Author: 	Ryan Peters
   Date:    3/10/2014

   Filename:         programs.css
   Supporting Files: 

*/

/* Styles for the Programs table */

table.programs {
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
	font-family: Arial, Verdana, sans-serif;
}

table.programs caption {
	caption-side: bottom;
	text-align: left;
	font-size: 0.8em;
}

table.programs tbody {
	font-size: 0.7em;
	vertical-align: top;
}

table.programs th, table.programs td {
	border: 1px solid gray;
	padding: 2px;
}

table.programs tr {
	height: 25px;
}

table.programs thead {
	color: white;
	background-color: rgb(105, 177, 60);
}

table.programs thead tr {
	font-size:  0.7em;
	border: 1px solid gray;
}

table.programs thead tr th:first-of-type {
	background-color: rgb(153, 86, 7);
}

table.programs thead tr th:nth-of-type(7) {
	background-color:  rgb(153, 0, 153);
}

table.programs thead tr th:nth-of-type(8) {
	background-color:  rgb(153, 0, 153);
}

table.programs col:timeColumn {
	width:  10%;
	background-color: rgb(215, 205, 151);
} 